.overview-section {
  padding-top: 20px;
}
.overview-section_title {
  line-height: 1.4;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery__item {
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.gallery__item_caption {
  width: 100%;
}
.gallery__thumbnail {}
.gallery__thumbnail_img {}
